function Board.new 2
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
pop this 3
push this 2
call Array.new 1
pop this 4
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
push constant 10
call Init.newArray 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Grid.drawOutline 0
pop temp 0
push pointer 0
return
function Board.dispose 2
push argument 0
pop pointer 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 4
call array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.isFull 1
push argument 0
pop pointer 0
push argument 2
push constant 0
lt
push argument 2
push this 2
push constant 1
sub
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push argument 2
push constant 0
lt
push argument 2
push this 2
push constant 1
sub
gt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push argument 2
push this 4
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
pop pointer 1
push that 0
return
function Board.setFill 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Board.fill 1
push argument 0
pop pointer 0
push argument 2
push this 2
push constant 1
sub
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 2
push this 4
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
push this 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push argument 1
push argument 2
push this 3
call Board.drawTile 4
pop temp 0
push constant 0
return
function Board.drawTile 2
push argument 0
pop pointer 0
push this 0
push constant 12
push argument 1
call Math.multiply 2
add
pop local 0
push this 1
push constant 12
push this 2
push argument 2
push constant 1
add
sub
call Math.multiply 2
add
pop local 1
push local 0
push local 1
push argument 1
push constant 3
and
push argument 3
call Grid.drawTile 4
pop temp 0
push constant 0
return
function Board.clearFullLines 5
push argument 0
pop pointer 0
label WHILE_EXP0
push local 1
push this 2
lt
not
if-goto WHILE_END0
push local 1
push this 4
add
pop pointer 1
push that 0
pop local 4
push constant 0
not
pop local 3
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 10
lt
not
if-goto WHILE_END1
push local 2
push local 4
add
pop pointer 1
push that 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 3
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 1
add
pop local 0
push pointer 0
push local 1
push constant 1
add
call Board.shiftLines 2
pop temp 0
goto IF_END1
label IF_FALSE1
push local 1
push constant 1
add
pop local 1
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Board.shiftLines 3
push argument 0
pop pointer 0
label WHILE_EXP0
push argument 1
push this 2
lt
not
if-goto WHILE_END0
push argument 1
push this 4
add
pop pointer 1
push that 0
pop local 1
push argument 1
push constant 1
sub
push this 4
add
pop pointer 1
push that 0
pop local 2
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 10
lt
not
if-goto WHILE_END1
push local 0
push local 2
add
push argument 1
push local 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push argument 1
push constant 1
sub
push local 0
push local 2
add
pop pointer 1
push that 0
call Board.drawTile 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push argument 1
push constant 1
add
pop argument 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
push argument 1
push constant 1
sub
pop argument 1
label WHILE_EXP2
push local 0
push constant 10
lt
not
if-goto WHILE_END2
push pointer 0
push local 0
push argument 1
push constant 0
call Board.drawTile 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
function Board.clearLine 1
push argument 0
pop pointer 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push argument 1
push constant 0
call Board.drawTile 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
