function S.init 1
push constant 2
call Array.new 1
pop static 0
push constant 9
call Init.newArray 1
pop local 0
push constant 4
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
call Init.newArray 1
pop local 0
push constant 0
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function S.tiles 0
push argument 0
push constant 1
add
push static 0
add
pop pointer 1
push that 0
return
function S.size 0
push constant 3
return
