function Block.new 1
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 3
call Clock.new 0
pop this 7
push constant 4
pop this 0
push constant 0
pop this 1
push constant 4
call Array.new 1
pop this 6
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 6
add
push constant 4
push constant 4
call Math.multiply 2
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Block.setPatterns 1
pop temp 0
push pointer 0
push constant 0
call Block.rotateCurrentShapeTo 2
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 8
push pointer 0
return
function Block.spawn 1
push argument 0
call Block.new 1
pop local 0
push local 0
push constant 0
call Block.chargeTime 2
pop temp 0
push local 0
call Block.draw 1
pop temp 0
push local 0
return
function Block.setPlayer 0
push argument 0
pop static 0
push constant 0
return
function Block.setWorld 0
push argument 0
pop static 1
push constant 0
return
function Block.chargeTime 1
push argument 0
pop pointer 0
push argument 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push constant 1
add
pop this 8
goto IF_END0
label IF_FALSE0
push constant 0
pop this 8
label IF_END0
push argument 1
not
push this 8
push constant 7
lt
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 0
push constant 1
call Block.isMovable 3
not
pop local 0
push this 7
push local 0
call Clock.chargeTime 2
pop temp 0
label IF_FALSE1
push constant 0
return
function Block.dispose 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 6
add
pop pointer 1
push that 0
pop this 5
push this 5
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 7
call Clock.dispose 1
pop temp 0
push this 6
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Block.isMovable 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 1
push argument 2
add
pop local 1
label WHILE_EXP0
push local 1
push this 1
push argument 2
add
push constant 4
add
lt
not
if-goto WHILE_END0
push this 0
push argument 1
add
pop local 0
label WHILE_EXP1
push local 0
push this 0
push argument 1
add
push constant 4
add
lt
not
if-goto WHILE_END1
push local 2
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
not
push static 1
push local 0
push local 1
call World.isEmpty 3
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Block.isRotatableFrom 4
push argument 0
pop pointer 0
push this 3
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 3
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 0
push constant 0
call Block.isMovable 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push argument 1
push constant 0
eq
push this 2
push constant 1
eq
and
push argument 1
push constant 3
eq
push this 2
push constant 2
eq
and
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push constant 2
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push constant 2
sub
pop this 0
push constant 0
not
return
label IF_FALSE4
push pointer 0
push constant 1
push constant 0
call Block.isMovable 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 0
push constant 1
add
pop this 0
push constant 0
not
return
label IF_FALSE5
push pointer 0
push constant 2
neg
push constant 1
call Block.isMovable 3
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push constant 2
sub
pop this 0
push this 1
push constant 1
add
pop this 1
push constant 0
not
return
label IF_FALSE6
push pointer 0
push constant 1
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push constant 1
add
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE7
push constant 0
return
label IF_FALSE3
push argument 1
push constant 1
eq
push this 2
push constant 0
eq
and
push argument 1
push constant 2
eq
push this 2
push constant 3
eq
and
or
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push constant 2
push constant 0
call Block.isMovable 3
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 0
push constant 2
add
pop this 0
push constant 0
not
return
label IF_FALSE9
push pointer 0
push constant 1
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 0
push constant 1
sub
pop this 0
push constant 0
not
return
label IF_FALSE10
push pointer 0
push constant 2
push constant 1
neg
call Block.isMovable 3
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 0
push constant 2
add
pop this 0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
return
label IF_FALSE11
push pointer 0
push constant 1
neg
push constant 2
call Block.isMovable 3
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE12
push constant 0
return
label IF_FALSE8
push argument 1
push constant 1
eq
push this 2
push constant 2
eq
and
push argument 1
push constant 0
eq
push this 2
push constant 3
eq
and
or
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
push constant 1
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 0
push constant 1
sub
pop this 0
push constant 0
not
return
label IF_FALSE14
push pointer 0
push constant 2
push constant 0
call Block.isMovable 3
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 0
push constant 2
add
pop this 0
push constant 0
not
return
label IF_FALSE15
push pointer 0
push constant 1
neg
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE16
push pointer 0
push constant 2
push constant 1
call Block.isMovable 3
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 0
push constant 2
add
pop this 0
push this 1
push constant 1
add
pop this 1
push constant 0
not
return
label IF_FALSE17
push constant 0
return
label IF_FALSE13
push argument 1
push constant 2
eq
push this 2
push constant 1
eq
and
push argument 1
push constant 3
eq
push this 2
push constant 0
eq
and
or
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push pointer 0
push constant 1
push constant 0
call Block.isMovable 3
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 0
push constant 1
add
pop this 0
push constant 0
not
return
label IF_FALSE19
push pointer 0
push constant 2
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 0
push constant 2
sub
pop this 0
push constant 0
not
return
label IF_FALSE20
push pointer 0
push constant 1
push constant 2
call Block.isMovable 3
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 0
push constant 1
add
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE21
push pointer 0
push constant 2
neg
push constant 1
neg
call Block.isMovable 3
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 0
push constant 2
sub
pop this 0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
return
label IF_FALSE22
push constant 0
return
label IF_FALSE18
goto IF_END1
label IF_FALSE1
push pointer 0
push constant 0
push constant 0
call Block.isMovable 3
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push constant 0
not
return
label IF_FALSE23
push argument 1
push constant 1
eq
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push pointer 0
push constant 1
push constant 0
call Block.isMovable 3
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push this 0
push constant 1
add
pop this 0
push constant 0
not
return
label IF_FALSE25
push pointer 0
push constant 1
push constant 1
call Block.isMovable 3
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push this 0
push constant 1
add
pop this 0
push this 1
push constant 1
add
pop this 1
push constant 0
not
return
label IF_FALSE26
push pointer 0
push constant 0
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE27
push pointer 0
push constant 1
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE28
goto IF_FALSE28
label IF_TRUE28
push this 0
push constant 1
add
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE28
push constant 0
return
label IF_FALSE24
push this 2
push constant 3
eq
if-goto IF_TRUE29
goto IF_FALSE29
label IF_TRUE29
push pointer 0
push constant 1
push constant 0
call Block.isMovable 3
if-goto IF_TRUE30
goto IF_FALSE30
label IF_TRUE30
push this 0
push constant 1
add
pop this 0
push constant 0
not
return
label IF_FALSE30
push pointer 0
push constant 1
push constant 1
neg
call Block.isMovable 3
if-goto IF_TRUE31
goto IF_FALSE31
label IF_TRUE31
push this 0
push constant 1
add
pop this 0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
return
label IF_FALSE31
push pointer 0
push constant 0
push constant 2
call Block.isMovable 3
if-goto IF_TRUE32
goto IF_FALSE32
label IF_TRUE32
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE32
push pointer 0
push constant 1
push constant 2
call Block.isMovable 3
if-goto IF_TRUE33
goto IF_FALSE33
label IF_TRUE33
push this 0
push constant 1
add
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE33
push constant 0
return
label IF_FALSE29
push this 2
push constant 1
eq
if-goto IF_TRUE34
goto IF_FALSE34
label IF_TRUE34
push pointer 0
push constant 1
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE35
goto IF_FALSE35
label IF_TRUE35
push this 0
push constant 1
sub
pop this 0
push constant 0
not
return
label IF_FALSE35
push pointer 0
push constant 1
neg
push constant 1
neg
call Block.isMovable 3
if-goto IF_TRUE36
goto IF_FALSE36
label IF_TRUE36
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 1
sub
pop this 1
push constant 0
not
return
label IF_FALSE36
push pointer 0
push constant 0
push constant 2
call Block.isMovable 3
if-goto IF_TRUE37
goto IF_FALSE37
label IF_TRUE37
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE37
push pointer 0
push constant 1
neg
push constant 2
call Block.isMovable 3
if-goto IF_TRUE38
goto IF_FALSE38
label IF_TRUE38
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
return
label IF_FALSE38
push constant 0
return
label IF_FALSE34
push argument 1
push constant 3
eq
if-goto IF_TRUE39
goto IF_FALSE39
label IF_TRUE39
push pointer 0
push constant 1
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE40
goto IF_FALSE40
label IF_TRUE40
push this 0
push constant 1
sub
pop this 0
push constant 0
not
return
label IF_FALSE40
push pointer 0
push constant 1
neg
push constant 1
call Block.isMovable 3
if-goto IF_TRUE41
goto IF_FALSE41
label IF_TRUE41
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 1
add
pop this 1
push constant 0
not
return
label IF_FALSE41
push pointer 0
push constant 0
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE42
goto IF_FALSE42
label IF_TRUE42
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE42
push pointer 0
push constant 1
neg
push constant 2
neg
call Block.isMovable 3
if-goto IF_TRUE43
goto IF_FALSE43
label IF_TRUE43
push this 0
push constant 1
sub
pop this 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
return
label IF_FALSE43
push constant 0
return
label IF_FALSE39
label IF_END1
push constant 0
return
function Block.land 6
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 1
pop local 1
label WHILE_EXP0
push local 1
push this 1
push constant 4
add
lt
not
if-goto WHILE_END0
push this 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
push constant 4
add
lt
not
if-goto WHILE_END1
push local 2
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 1
push local 0
push local 1
call World.registerCell 3
pop temp 0
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 4
push this 3
push constant 5
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Block.checkTSpinCondition 1
pop local 4
push pointer 0
call Block.checkTSpinMiniCondition 1
pop local 5
goto IF_END1
label IF_FALSE1
push constant 0
pop local 4
push constant 0
pop local 5
label IF_END1
push static 1
call World.destroyLines 1
pop local 3
push static 0
push local 3
push local 4
push local 5
call Player.addScoreForLineClear 4
pop temp 0
push pointer 0
call Block.dispose 1
pop temp 0
push constant 0
return
function Block.draw 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 1
pop local 1
label WHILE_EXP0
push local 1
push this 1
push constant 4
add
lt
not
if-goto WHILE_END0
push local 1
push constant 2
lt
not
push local 1
push constant 21
gt
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
push constant 4
add
lt
not
if-goto WHILE_END1
push local 0
push constant 1
lt
not
push local 0
push constant 10
gt
not
and
push local 2
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call MainWindow.drawCell 2
pop temp 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
goto IF_END0
label IF_FALSE0
push local 2
push constant 4
add
pop local 2
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Block.drawNext 4
push argument 0
pop pointer 0
call NextWindow.clear 0
pop temp 0
push this 3
push constant 0
eq
push this 3
push constant 3
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 3
goto IF_END0
label IF_FALSE0
push constant 0
not
pop local 3
label IF_END0
push constant 0
pop local 2
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 4
lt
not
if-goto WHILE_END1
push local 2
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
push local 3
call NextWindow.drawCell 3
pop temp 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Block.erase 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 1
pop local 1
label WHILE_EXP0
push local 1
push this 1
push constant 4
add
lt
not
if-goto WHILE_END0
push local 1
push constant 2
lt
not
push local 1
push constant 21
gt
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
pop local 0
label WHILE_EXP1
push local 0
push this 0
push constant 4
add
lt
not
if-goto WHILE_END1
push local 0
push constant 1
lt
not
push local 0
push constant 10
gt
not
and
push local 2
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 1
call MainWindow.eraseCell 2
pop temp 0
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
goto IF_END0
label IF_FALSE0
push local 2
push constant 4
add
pop local 2
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Block.moveLeft 0
push argument 0
pop pointer 0
push pointer 0
push constant 1
neg
push constant 0
call Block.isMovable 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Block.erase 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push constant 0
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
push constant 0
not
call Block.chargeTime 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Block.moveRight 0
push argument 0
pop pointer 0
push pointer 0
push constant 1
push constant 0
call Block.isMovable 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Block.erase 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push constant 0
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
push constant 0
not
call Block.chargeTime 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Block.rotateRight 2
push argument 0
pop pointer 0
push this 2
pop local 0
push pointer 0
call Block.erase 1
pop temp 0
push this 2
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 1
goto IF_END0
label IF_FALSE0
push this 2
push constant 1
add
pop local 1
label IF_END0
push pointer 0
push local 1
call Block.rotateCurrentShapeTo 2
pop temp 0
push pointer 0
push local 0
call Block.isRotatableFrom 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
push constant 0
not
call Block.chargeTime 2
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push local 0
call Block.rotateCurrentShapeTo 2
pop temp 0
push pointer 0
call Block.draw 1
pop temp 0
label IF_END1
push constant 0
return
function Block.rotateLeft 2
push argument 0
pop pointer 0
push this 2
pop local 0
push pointer 0
call Block.erase 1
pop temp 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop local 1
goto IF_END0
label IF_FALSE0
push this 2
push constant 1
sub
pop local 1
label IF_END0
push pointer 0
push local 1
call Block.rotateCurrentShapeTo 2
pop temp 0
push pointer 0
push local 0
call Block.isRotatableFrom 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
push constant 0
not
call Block.chargeTime 2
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push local 0
call Block.rotateCurrentShapeTo 2
pop temp 0
push pointer 0
call Block.draw 1
pop temp 0
label IF_END1
push constant 0
return
function Block.softDrop 0
push argument 0
pop pointer 0
push static 0
call Player.addScoreForSoftDrop 1
pop temp 0
push constant 0
pop this 4
push pointer 0
call Block.dropByOne 1
return
function Block.hardDrop 1
push argument 0
pop pointer 0
push pointer 0
call Block.erase 1
pop temp 0
push this 1
pop local 0
label WHILE_EXP0
push pointer 0
push constant 0
push constant 1
call Block.isMovable 3
not
if-goto WHILE_END0
push this 1
push constant 1
add
pop this 1
goto WHILE_EXP0
label WHILE_END0
push static 0
push this 1
push local 0
sub
call Player.addScoreForHardDrop 2
pop temp 0
push constant 0
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
call Block.land 1
pop temp 0
push constant 0
return
function Block.makeFall 1
push argument 0
pop pointer 0
push this 7
push pointer 0
push constant 0
push constant 1
call Block.isMovable 3
call Clock.tick 2
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Block.dropByOne 1
return
goto IF_END0
label IF_FALSE0
push pointer 0
return
label IF_END0
function Block.dropByOne 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
call Block.isMovable 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Block.erase 1
pop temp 0
push this 1
push constant 1
add
pop this 1
push constant 0
pop this 4
push pointer 0
call Block.draw 1
pop temp 0
push pointer 0
push constant 0
call Block.chargeTime 2
pop temp 0
push pointer 0
return
goto IF_END0
label IF_FALSE0
push pointer 0
call Block.land 1
pop temp 0
push constant 0
return
label IF_END0
function Block.rotateCurrentShapeTo 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push argument 1
push this 6
add
pop pointer 1
push that 0
pop this 5
push constant 0
return
function Block.isGameOver 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
call Block.isMovable 3
not
return
function Block.checkTSpinCondition 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 0
push constant 1
add
pop local 0
push this 1
push constant 1
add
pop local 1
push static 1
push local 0
push constant 1
sub
push local 1
push constant 1
sub
call World.isEmpty 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push constant 1
add
pop local 2
label IF_FALSE0
push static 1
push local 0
push constant 1
sub
push local 1
push constant 1
add
call World.isEmpty 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 1
add
pop local 2
label IF_FALSE1
push static 1
push local 0
push constant 1
add
push local 1
push constant 1
sub
call World.isEmpty 3
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push constant 1
add
pop local 2
label IF_FALSE2
push static 1
push local 0
push constant 1
add
push local 1
push constant 1
add
call World.isEmpty 3
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 2
push constant 1
add
pop local 2
label IF_FALSE3
push constant 17
push constant 56
call Output.moveCursor 2
pop temp 0
push local 2
push constant 2
gt
return
function Block.checkTSpinMiniCondition 2
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop local 0
push constant 2
pop local 1
label IF_FALSE0
push this 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 0
push constant 1
pop local 1
label IF_FALSE1
push this 2
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop local 0
push constant 0
pop local 1
label IF_FALSE2
push this 2
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
pop local 0
push constant 1
pop local 1
label IF_FALSE3
push static 1
push this 0
push local 0
add
push this 1
push local 1
add
call World.isEmpty 3
not
return
function Block.setPatterns 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Block.setI 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Block.setJ 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Block.setL 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Block.setO 1
pop temp 0
push constant 0
return
label IF_FALSE3
push this 3
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Block.setS 1
pop temp 0
push constant 0
return
label IF_FALSE4
push this 3
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Block.setT 1
pop temp 0
push constant 0
return
label IF_FALSE5
push this 3
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Block.setZ 1
pop temp 0
push constant 0
return
label IF_FALSE6
push constant 0
return
function Block.setI 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setJ 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setL 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setO 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setS 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setT 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setZ 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push pointer 0
push constant 3
push constant 0
push constant 1
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Block.setArea 18
pop temp 0
push constant 0
return
function Block.setArea 1
push argument 0
pop pointer 0
push argument 1
push this 6
add
pop pointer 1
push that 0
pop local 0
push constant 0
push local 0
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push argument 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push argument 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push argument 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push argument 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push argument 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push argument 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push argument 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push argument 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push argument 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push argument 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push argument 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push argument 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push argument 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push argument 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
